@model PropertyManagement.Models.Property

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Property</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Property_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property_Name)
                @Html.ValidationMessageFor(model => model.Property_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Property_Type_ID, "Property_Type_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Property_Type_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Property_Type_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District_ID, "District_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("District_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.District_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area)
                @Html.ValidationMessageFor(model => model.Area)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bed_Room, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bed_Room)
                @Html.ValidationMessageFor(model => model.Bed_Room)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bath_Room, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bath_Room)
                @Html.ValidationMessageFor(model => model.Bath_Room)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Installment_Rate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Installment_Rate)
                @Html.ValidationMessageFor(model => model.Installment_Rate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Avatar)
                @Html.ValidationMessageFor(model => model.Avatar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Album, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Album)
                @Html.ValidationMessageFor(model => model.Album)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Property_Status_ID, "Property_Status_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Property_Status_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Property_Status_ID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
